

h1{
    border: solid 5px ;
    text-align: center;
    font-size: 3vh;
    padding: 3vh;
    margin-left: 2vh;
    margin-right: 2vh;
    background-color: aqua;
}
h2{
    border: solid 5px ;
    text-align: center;
    font-size: 5vh;
}  
.div{
    display: flex;
    flex-direction: row;
}
.p{
    border: solid 5px;
    text-align: center;
    font-size: 3vh;
    margin-right: 1%;
    padding: 10%;
    
   
}
.p1{
    border: solid 5px;
    text-align: center;
    font-size: 3vh;
    margin-right: 1%;
    padding: 10%;
    width: 23%;
    
}
.p2{
    border: solid 5px;
    text-align: center;
    font-size: 3vh;
    margin-right: 1%;
    padding: 10%;
    
}
.p3{
    border: solid 3px ;
    text-align: center;
    font-size: 3vh;
}